@using WebApplication4.Areas.LOC_State.Models;
@using System.Data;
@model LOC_StateModel;

<html>
	<body>
	<form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateAddFormPage">
			<table class="table mt-3 border border-dark">
				<thead>
					<tr>
						<th scope="col">Insert State Details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<label>CountryID:</label>
							<input type="text" id="countryID" name="countryID" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>StateName:</label>
							<input type="text" id="stateName" name="stateName" required />
						</td>
					</tr>
					<tr>
						<td>
							<label>StateCode:</label>
							<input type="text" id="stateCode" name="stateCode" required />
						</td>
					</tr>
					<tr>
						<td>
							<input class="btn btn-primary" type="submit" value="submit" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>